.multiselect, .multiselecttext, .multiselectmatch, .multiselectselected, .multiselectbuttons { position: relative; }
.multiselecttext { display:inline-block; float: left; clear: both; }
.multiselectmatch { float: left; }
.multiselectbuttons { float: left; width:6em; left-padding: 1em; right-padding: 1em; text-align: center; }
.multiselectbuttons a.disabled { color: gray; }
.multiselect>select { width: auto; min-width: 15em; }

.ui-autocomplete-loading {
    background: white url('../images/wndx/multiselect-busy.gif') right center no-repeat;
}

.multiselectbuttons { width:1.5em; }
.multiselectbuttons a {
	display:inline-block;
	width:22px; height:18px;
	margin: 0 5 0 5;
    padding: 0;
	text-decoration: none;
    text-align: center;
}

.multiselectbuttons a.add {
	background: url("../images/wndx/16/shadow/navigate_right.png") center no-repeat;
}
.multiselectbuttons a.all[name=match2selected] {
	background: url("../images/wndx/16/shadow/navigate_right2.png") center no-repeat;
}
.multiselectbuttons a.remove {
	background: url("../images/wndx/16/shadow/navigate_left.png") center no-repeat;
}
.multiselectbuttons a.all[name=selected2match] {
	background: url("../images/wndx/16/shadow/navigate_left2.png") center no-repeat;
}
.multiselectbuttons a.add:hover {
	background: url("../images/wndx/16/plain/navigate_right.png") center no-repeat;
}
.multiselectbuttons a.all[name=match2selected]:hover {
	background: url("../images/wndx/16/plain/navigate_right2.png") center no-repeat;
}
.multiselectbuttons a.remove:hover {
	background: url("../images/wndx/16/plain/navigate_left.png") center no-repeat;
}
.multiselectbuttons a.all[name=selected2match]:hover {
	background: url("../images/wndx/16/plain/navigate_left2.png") center no-repeat;
}
.multiselectbuttons a span { display:none }
